# Tupel Practice

In [1]:
tup = 1,3,5,6

In [2]:
tup

(1, 3, 5, 6)

In [3]:
tup = ('foo',[1,2,3],True)

In [4]:
tup[1].append(4)

In [5]:
tup

('foo', [1, 2, 3, 4], True)

In [6]:
tup[0]='bar'

TypeError: 'tuple' object does not support item assignment

In [7]:
tup[0].append('bar')

AttributeError: 'str' object has no attribute 'append'

In [8]:
type(tup)

tuple

In [9]:
type(tup[0])

str

In [12]:
for tups in tup:
    print(type(tups))

<class 'str'>
<class 'list'>
<class 'bool'>

In [10]:
a,b,c = tup

In [11]:
b.append(5)

In [12]:
b

[1, 2, 3, 4, 5]

In [13]:
c

True

In [14]:
c = Fales

NameError: name 'Fales' is not defined

In [15]:
c = False

In [16]:
tup

('foo', [1, 2, 3, 4, 5], True)

In [17]:
tup = a,b,c

In [18]:
tup

('foo', [1, 2, 3, 4, 5], False)

In [19]:
seq = [[1,3,4],[10,30,40],[100,300,400]]

In [20]:
for a,b,c in seq:
    print('{0}, {1}, {2}'.format(a,b,c))

1, 3, 4
10, 30, 40
100, 300, 400

In [21]:
import random
seq = [random.randint(1,100) for x in range(10)]

In [22]:
seq

[97, 22, 15, 79, 91, 68, 41, 61, 1, 2]

In [23]:
a,b,*rest = seq

In [24]:
a,b,*rest

(97, 22, 15, 79, 91, 68, 41, 61, 1, 2)

In [25]:
*rest

SyntaxError: can't use starred expression here (<ipython-input-25-5a76c08199ae>, line 1)

In [26]:
rest

[15, 79, 91, 68, 41, 61, 1, 2]

## Tupel functions/Methods

tuple.count(value)
tuple.append(value)
len(tuple)
tuple.sort()

In [27]:
seq.count(95)

0

In [28]:
seq.append(10)

In [29]:
seq

[97, 22, 15, 79, 91, 68, 41, 61, 1, 2, 10]

In [30]:
seq.length()

AttributeError: 'list' object has no attribute 'length'

In [31]:
seq.len()

AttributeError: 'list' object has no attribute 'len'

In [32]:
len(seq)

11

In [33]:
seq = [random.randint(1,100) for x in range(10)]

In [34]:
[random.randint(1,100) for x in range(10)]

[21, 62, 95, 84, 87, 89, 22, 84, 98, 36]

In [35]:
seq

[50, 96, 6, 21, 99, 26, 56, 26, 98, 66]

In [36]:
seq.sort

In [37]:
seq.sort()

In [38]:
seq

[6, 21, 26, 26, 50, 56, 66, 96, 98, 99]

In [39]:
import bisect

In [40]:
bisect.bisect(seq,25)

2

In [41]:
bisect.insort(seq,25)

In [42]:
seq

[6, 21, 25, 26, 26, 50, 56, 66, 96, 98, 99]

In [43]:
seq = [random.randint(1,100) for x in range(10)]

In [44]:
seq

[76, 61, 89, 31, 14, 14, 5, 32, 86, 85]

In [45]:
bisect.bisect(seq.sort(), 50)

TypeError: object of type 'NoneType' has no len()

In [46]:
seq.sort()

In [47]:
bisect.bisect(seq, 50)

5

In [48]:
seq

[5, 14, 14, 31, 32, 61, 76, 85, 86, 89]

In [49]:
bisect.insort(seq,40)

In [50]:
seq

[5, 14, 14, 31, 32, 40, 61, 76, 85, 86, 89]

In [51]:
seq[::2]

[5, 14, 32, 61, 85, 89]

In [52]:
seq[::-1]

[89, 86, 85, 76, 61, 40, 32, 31, 14, 14, 5]

In [53]:
seq[::1]

[5, 14, 14, 31, 32, 40, 61, 76, 85, 86, 89]

In [54]:
myfamily = ['Chirag','Parul','Vidhi','Janvi','Rameshchandra','Madhuben']

In [55]:
mapping = {}
for i, v in enumerate(myfamily):
    print('Index of name {1} is {0}'.format(i,v))
    mapping[i]=v

Index of name Chirag is 0
Index of name Parul is 1
Index of name Vidhi is 2
Index of name Janvi is 3
Index of name Rameshchandra is 4
Index of name Madhuben is 5

In [56]:
mapping

{0: 'Chirag',
 1: 'Parul',
 2: 'Vidhi',
 3: 'Janvi',
 4: 'Rameshchandra',
 5: 'Madhuben'}

In [57]:
mapping.del(0)

SyntaxError: invalid syntax (<ipython-input-57-5aab75193aee>, line 1)

In [58]:
del mapping[0]

In [59]:
mydict = dict(zip([0,1,2,4],[4,2,1,0]))

In [60]:
list(zip(range(5)))

[(0,), (1,), (2,), (3,), (4,)]

In [61]:
mydict

{0: 4, 1: 2, 2: 1, 4: 0}

In [62]:
zip([0,1,2,4],[4,2,1,0])

In [63]:
list(zip([0,1,2,4],[4,2,1,0]))

[(0, 4), (1, 2), (2, 1), (4, 0)]

# Built-in Sequence Functions

### Enumerate - It is used to get the index and value of all iterative data or sequences

In [64]:
seq = [random.randint(1,100) for x in range(10)]

In [65]:
seq
sorted(seq)
seq

[60, 33, 92, 50, 96, 87, 70, 12, 85, 17]

In [66]:
sorted(seq)

[12, 17, 33, 50, 60, 70, 85, 87, 92, 96]

In [67]:
seq2 = [random.randint(100,200) for x in range(10)]

In [68]:
seq

[60, 33, 92, 50, 96, 87, 70, 12, 85, 17]

In [69]:
seq2

[170, 150, 131, 143, 132, 184, 129, 130, 148, 124]

In [70]:
for i, (a, b) in enumerate(zip(sorted(seq),sorted(seq2))):
    print('seq number {0}, seq2 number {1}'.format(a,b))

seq number 12, seq2 number 124
seq number 17, seq2 number 129
seq number 33, seq2 number 130
seq number 50, seq2 number 131
seq number 60, seq2 number 132
seq number 70, seq2 number 143
seq number 85, seq2 number 148
seq number 87, seq2 number 150
seq number 92, seq2 number 170
seq number 96, seq2 number 184

In [71]:
student = {'age': 21, 'name':'Janvi', 'grade':4}

In [72]:
student['age']

21

In [73]:
student.update({'result':'pass'})

In [74]:
student

{'age': 21, 'name': 'Janvi', 'grade': 4, 'result': 'pass'}

In [75]:
student[2]

KeyError: 2

In [76]:
student[0]

KeyError: 0

In [77]:
student['classroom']=201

In [78]:
student

{'age': 21, 'name': 'Janvi', 'grade': 4, 'result': 'pass', 'classroom': 201}

In [79]:
del student['result']

In [80]:
student

{'age': 21, 'name': 'Janvi', 'grade': 4, 'classroom': 201}

In [81]:
student.get('age of student',50)

50

In [82]:
student.get('age',50)

21

In [83]:
words = ['apple','age', 'banana','big','cat', 'cannon','chirag','parul','patel']

In [84]:
by_letters = {}
for word in words:
    firstletter = word[0]
    if firstletter not in by_letters:
        by_letters[firstletter] = [word]
    else:
        by_letters[firstletter].append(word)

In [85]:
by_letters

{'a': ['apple', 'age'],
 'b': ['banana', 'big'],
 'c': ['cat', 'cannon', 'chirag'],
 'p': ['parul', 'patel']}

In [86]:
by_letters_d = {}
for word in words:
    letter=word[0]
    by_letters_d.setdefault(letter,[]).append(word)

In [87]:
by_letters_d

{'a': ['apple', 'age'],
 'b': ['banana', 'big'],
 'c': ['cat', 'cannon', 'chirag'],
 'p': ['parul', 'patel']}

In [88]:
def add_word_by_letter(letter):
    return [word for word in words if word[0] == letter]

In [89]:
from collections import defaultdict
#by_letters_c = defaultdict(list)
letter_set = {word[0] for word in words}
by_letters_c = {word[0]:add_word_by_letter(word[0]) for word in words}

In [90]:
by_letters_c

{'a': ['apple', 'age'],
 'b': ['banana', 'big'],
 'c': ['cat', 'cannon', 'chirag'],
 'p': ['parul', 'patel']}

In [91]:
words

['apple', 'age', 'banana', 'big', 'cat', 'cannon', 'chirag', 'parul', 'patel']

In [92]:
letter_set

{'a', 'b', 'c', 'p'}

In [93]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [94]:
list(map(len,strings))

[1, 2, 3, 3, 4, 6]

In [95]:
words

['apple', 'age', 'banana', 'big', 'cat', 'cannon', 'chirag', 'parul', 'patel']

In [96]:
enough_n = [word for word in words if word.count('n') >=2]

In [97]:
enough_n

['banana', 'cannon']

### nested comprehension

In [98]:
nested_words = [words, ['some','other','words']]

In [99]:
nested_words

[['apple',
  'age',
  'banana',
  'big',
  'cat',
  'cannon',
  'chirag',
  'parul',
  'patel'],
 ['some', 'other', 'words']]

In [100]:
word_with_e = [word for words1 in nested_words for word in words1 if word.count('e')>=1]

In [103]:
word_with_e

['apple', 'age', 'patel', 'some', 'other']

## Functions